{% extends "core/base.html" %}
{% block content %}
<div class='container mt-5'>
    <h1 class='text-warning mb-5 border-bottom'>Professional Services</h1>

<div class='row text-white text-center mb-5'>
    <div class='col-sm-4'>
        <i class="fa-solid fa-magnifying-glass-dollar fa-2xl mb-3 i-color"></i>
        <h3 class='ss-color'>SEO</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quos architecto nostrum vel vero vitae animi illo dolore modi fugit</p>

    </div>
    <div class='col-sm-4 px-1'>
        <i class="fa-solid fa-palette fa-2xl mb-3 i-color"></i>
        <h3 class='ss-color'>Web Design</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quos architecto nostrum vel vero vitae animi illo dolore modi fugit.</p>

    </div>
    <div class='col-sm-4 px-1'>
        <i class="fa-solid fa-code fa-2xl mb-3 i-color"></i>
        <h3 class='ss-color'>Web Development</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quos architecto nostrum vel vero vitae animi illo dolore modi .</p>
    </div>
    
</div>
<div class='row text-white text-center mb-5'>
    <div class='col-sm-4 px-1'>
        <i class="fa-brands fa-android fa-2xl mb-3 i-color"></i>
        <h3 class='ss-color'>Android</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quos architecto nostrum vel vero vitae animi illo .</p>

    </div>
    <div class='col-sm-4 px-1'>
        <i class="fa-brands fa-apple fa-2xl mb-3 i-color"></i>
        <h3 class='ss-color'>IOS</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quos architecto nostrum vel vero vitae animi illo .</p>

    </div>
    <div class='col-sm-4 px-1'>
        <i class="fa-brands fa-adversal fa-2xl mb-3 i-color"></i>
        <h3 class='ss-color'>Advertising</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quos architecto nostrum vel vero vitae animi illo </p>

    </div>
</div>
<div class='row text-white text-center mb-5'>
    <div class='col-sm-4 px-1'>
        <i class="fa-solid fa-pencil fa-2xl mb-3 i-color"></i>
        <h3 class='ss-color'>Logo Design</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quos architecto nostrum vel vero vitae animi </p>
    
    </div>
    <div class='col-sm-4 px-1'>
        <i class="fa-solid fa-database fa-2xl mb-3 i-color"></i>
        <h3 class='ss-color'>Hosting</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quos architecto nostrum vel vero vitae animi </p>
    
    </div>
    <div class='col-sm-4 px-1'>
        <i class="fa-solid fa-headset fa-2xl mb-3 i-color"></i>
        <h3 class='ss-color'>Support</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quos architecto nostrum vel vero vitae animi</p>
    
    </div>
</div>
</div>
{% endblock content %}

